<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
</head>
<body>
    <h1>Productos con Escasez de Stock</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Stock Disponible</th>
                <th>Stock Mínimo</th>
                <th>Stock Ideal</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td class="stock">{{producto.stock_disponible}}</td>
                    <td class="stock">{{producto.stock_minimo}}</td>
                    <td class="stock">{{producto.stock_ideal}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>