{% extends '/dashboard/dashboard.html' %}

{% block scripts %}{% endblock %}

{% block h1 %}Cambiar Contraseña{% endblock %}

{% block content %}

<div class="row">

<form action="/dashboard/change_password" method="POST">

<label for="contraseña">Nueva Contraseña:</label>
<input class="form-control" id="contraseña" type="password" name="contraseña">
<br>
<label for="confi">Confirmar Contraseña:</label>
<input class="form-control" id="confi" type="password" name="confi">  
<br>

<button type="submit" class="btn btn-primary">Actualizar</button>

</form>

</div>

{% endblock %}